table, td, th {
  border: 1px solid;
  border-collapse: collapse;
}
th{
  background-color: black;
  color: white;
}
.test input{
padding: 3px;;
}
nav{
  padding: 5px;
 background-color: rgb(128, 0, 6);
}
nav a{
 padding: 5px;
 color: white;
 text-decoration: none;
}
nav a:hover{
  background-color: black;
  color: white;
}
.test{
  margin-top: 20px;
}